<fieldset><h1> Create New User </h1></fieldset>



<div class="leftBox">
  <form class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Surname</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Surname</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Card Number</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-stroked-button>Create User</button>
  </form>
</div>

