*{
  padding: 0;
  margin: 0;
}
.form {
  min-width: 150px;
  max-width: 500px;
  text-align: center;
  
}

.full-width {
  width: 100%;
}

h1{
  text-align: center;
}

fieldset {
  width: 500px;
  height: 30px;
  background: #449bae;
  border-radius: 30px;
  margin: auto;
  padding: 1em;
  border: 0;
  
}

.card{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 align-content: flex-start;
 background: #449bae;
 border-radius: 30px;
 text-align: center;
 padding-top: 5%;
 padding-bottom: 5%;
 margin: 4%;
}

.mat-stroked-button{
  margin-top: 2%;
}



