

/** {
    margin: 0;
    padding: 0;
}
html { 
    background-color: #283941;
}
*/
html, body { height: 100%; background-color: #283941; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
