<div class="page">
  <h1 class="title">Welcome to FieldID</h1>
  <div class="menu">
    <div id="newQR" class="square">
        <img routerLink="/newUser" class="addUser"src="/assets/images/follow.svg" alt="Add New User" width="100%">
    </div>
    <div id="record" class="square">
        <img routerLink="/record" class="record" src="/assets/images/edit.svg" alt="Record" width="100%">
    </div>
    <div id="scanner" class="square">
        <img routerLink="/qrScanner" class="QRcode" src="/assets/images/qr-code.svg" alt="QR Code Scanner" width="100%">
    </div>
  </div>
</div>
