<!DOCTYPE html>
<html>

<body class="body">
    <fieldset>
        <h1 class="title">Καλωσήρθατε στο FieldID</h1>
    </fieldset>
    <div id="menu">
        <div id="newQR" class="square">
            <nav>
                <img routerLink="/newUser" class="addUser"src="/assets/images/follow.svg" alt="Add New User">
            </nav>
        </div>
        <div id="record" class="square">
            <nav>
                <img routerLink="/record" class="record" src="/assets/images/edit.svg" alt="Record">
            </nav>
        </div>
        <div id="scanner" class="square">
            <nav>
                <img routerLink="/qrScanner" class="QRcode" src="/assets/images/qr-code.svg" alt="QR Code Scanner">
            </nav>
        </div>
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

</body>

</html>