.page {
  background: #283941;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "welcome"
                       "menu"
                       "nav";
  
}

.title {
  grid-area: welcome;
  text-align: center;
  background: #449bae;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 8%;
  padding: 0.5% 5% 0.5% 5%;
}

.navigation {
  grid-area: nav;
  text-align: center;
  background: #449bae;
  border-radius: 10px;
  margin:auto;
  margin-top: 8%;
  padding: 0.5% 5% 0.5% 5%
}
.menu {
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  grid-area: menu;
  justify-content: center;
  align-items: center; 
}

.square {
  width: 20%;
  min-width: 100px;
  max-width: 350px;
  // height: 350px;
  background: #449bae;
  border-radius: 30px;
  margin: 2% 5% 2% 5%;
  padding: 1%;
}


